
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 226 25% 95%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 230 59% 42%;      /* #3D52A0 */
    --primary-foreground: 210 40% 98%;

    --secondary: 223 60% 67%;    /* #7091E6 */
    --secondary-foreground: 222 47% 11%;

    --muted: 220 14% 80%;
    --muted-foreground: 220 8% 46%;

    --accent: 225 26% 74%;       /* #8697C4 */
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 230 59% 42%;
    
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 228 59% 20%;   /* Darker version of the primary blue */
    --foreground: 0 0% 98%;

    --card: 228 30% 26%;
    --card-foreground: 0 0% 98%;

    --popover: 228 30% 26%;
    --popover-foreground: 0 0% 98%;

    --primary: 223 60% 67%;      /* #7091E6 */
    --primary-foreground: 222 47% 11%;

    --secondary: 228 59% 42%;    /* #3D52A0 */
    --secondary-foreground: 0 0% 98%;

    --muted: 220 26% 50%;
    --muted-foreground: 220 26% 80%;

    --accent: 226 25% 87%;       /* #ADBBDA */
    --accent-foreground: 222 47% 11%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 228 30% 40%;
    --input: 228 30% 40%;
    --ring: 223 60% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
